@mixin gradient($deg, $firstColor, $secondColor) {
  background: $firstColor;
  background: -moz-linear-gradient(#{$deg}deg, $firstColor 0%, $secondColor 100%);
  background: -webkit-linear-gradient(#{$deg}deg, $firstColor 0%, $secondColor 100%);
  background: -o-linear-gradient(#{$deg}deg, $firstColor 0%, $secondColor 100%);
  background: -ms-linear-gradient(#{$deg}deg, $firstColor 0%, $secondColor 100%);
  background: linear-gradient(#{$deg * -3}deg, $firstColor 0%, $secondColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$firstColor}', endColorstr='#{$secondColor}', GradientType=1);
}