<div class="container">
  <div class="row cbc--service-times">
    <div class="col-md-8">
      <img src="/drupal8/sites/default/files/images/cbc_logo_128.png" />
    
      <div class="service-list">
        <p>
          <strong>Weekly Services:</strong> Sunday 9:45 AM, 11:00 AM, 5:00 PM, 6:30 PM <span>|</span> Wednesday 7:30 PM
        </p>
    
        <p>
          <strong>Contact Us:</strong> <a href="+tel:7035831717">(703) 583-1717</a> <span>|</span> <a href="https://www.google.com/maps/place/13910+Minnieville+Rd,+Woodbridge,+VA+22193" target="_link">13910 Minnieville Rd., Woodbridge, VA 22193</a> <span>|</span> <a href="https://cbcwoodbridge.org/drupal8/contact" target="_blank" title="Email Us">Email Us</a>
        </p>
    
        <p>
          <strong>Misión Español:</strong> Escuela Dominical 9:45 AM <span>|</span> Servicio de Adoración 11:00 AM
        </p>
      </div>
    </div>
    
    <div class="col-md-4">
      <ul class="list-inline cbc--social-links text-center">
        <li>
          <a href="https://www.facebook.com/cbcwoodbridgeva" target="_blank">
            <i class="zmdi zmdi-facebook zmdi-hc-2x zmdi-hc-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC8WaCN67QJquKt7NYOERUfg" target="_blank">
            <i class="zmdi zmdi-youtube-play zmdi-hc-2x zmdi-hc-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/cbcwoodbridgeva" target="_blank">
            <i class="zmdi zmdi-twitter zmdi-hc-2x zmdi-hc-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://www.vimeo.com/cbcwoodbridgeva" target="_blank">
            <i class="zmdi zmdi-vimeo zmdi-hc-2x zmdi-hc-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://cbcwoodbridge.org/drupal8/rss.xml" target="_blank">
            <i class="zmdi zmdi-rss zmdi-hc-2x zmdi-hc-fw"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
    